<div>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username"
           formControlName="username"
           required
           name="username" />
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
           formControlName="password"
           required
           name="password" />
    <button type="submit"> Submit </button>
  </form>
  <button (click)="navigateToRegister()">Register</button>
</div>